<!DOCTYPE html>
<html ng-app="appname">
<head>
  <meta charset="utf-8"/>
  <!-- Load AngularJS, AngularJS Route, AngularJS+Bootstrap(ui.bootstrap),jQuery,BootstrapJS,and table.js -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-route.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="table.js"></script>
  <style>

  table{
    table-layout:fixed;
  }
  .tables_not_keyword{
    cursor:pointer;
  }
  #table_div{
    max-height:725px;
    overflow-x:scroll;
    overflow-y:scroll;
  }
  #header_div{
    width:100%;
    overflow:hidden;
  }

  </style>
</head>
<body>
  <div class="container-fluid" ng-controller="appCtrl">

      <div class="form-group col-lg-2 col-md-3 col-sm-3 col-xs-3">
        <input class="form-control" placeholder="Enter Keyword..." ng-model="keywordSearch"></input>
        <a href="#{{keywordSearch}}"><button class="btn btn-primary">Search</button></a>
        <a href="/"><button class="btn btn-success" ng-click="markFinished(keywordSearch)">Finished</button></a>
      </div>

    <div ng-view>

    </div>

  </div>

</body>
</html>
