<div style="height:75%;">
<a href="/"><button class="btn btn-success" ng-click="markFinished(json.keyword);">Finished</button></a>
  <!-- Keyword -->
  <table class="table table-bordered" style="margin-top: 0px; margin-bottom:0px">
    <body>
     <tr>
      <td>
       <h1>{{ json.keyword }}</h1>
      </td>
     </tr>
    </body>
  </table>

  <!-- Rank and URL fixed column -->
  <div id="freeze_container">
      <table class="table table-condensed table-bordered table-hover tables_not_keyword">
        <tbody>
          <tr style="height:60px" id="header_div">
            <th
                ng-repeat="(k,v) in json.columns track by $index"
                ng-if="v.columnDef.id == 'rank' || v.columnDef.id == 'url';"
                ng-click="open('column',json.keyword,v.columnDef.id, k, rowIndex, v.testingStatus.approved, v.testingStatus.issue, v.testingStatus.notes)"
                ng-class="{ success : v.testingStatus.approved, danger : v.testingStatus.issue }"
                ng-style="{width: v.columnDef.width}">
                {{ v.columnDef.label }}
            </th>
          </tr>
          <tr style="height:60px"
              ng-repeat="(rowIndex, row) in json.rows track by $index"
              ng-class="{ success : row.testingStatus.approved, danger : row.testingStatus.issue }">
            <td
              ng-repeat="(k,v) in json.columns track by $index"
              ng-if="v.columnDef.id == 'rank' || v.columnDef.id == 'url';"
              ng-click="open('cell',json.keyword,v.columnDef.id, k, rowIndex, row.rowData[v.columnDef.id].testingStatus.approved, row.rowData[v.columnDef.id].testingStatus.issue, row.rowData[v.columnDef.id].testingStatus.notes)"
              ng-class="{success : ((row.rowData[v.columnDef.id].testingStatus.approved || json.columns[k].testingStatus.approved) && !row.rowData[v.columnDef.id].testingStatus.issue), danger : ((row.rowData[v.columnDef.id].testingStatus.issue || json.columns[k].testingStatus.issue) && !row.rowData[v.columnDef.id].testingStatus.approved)} "
              ng-style="{width: v.columnDef.width}">
              <a ng-if="v.columnDef.id == 'url';" href="{{row.rowData[v.columnDef.id].value}}" target="_blank">
                {{ row.rowData[v.columnDef.id].value }}
              </a>
              <span ng-if="v.columnDef.id == 'rank';">
                {{ row.rowData[v.columnDef.id].value }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <!-- Other header -->
  <div id="header_div">
    <table class="table table-condensed table-bordered table-hover tables_not_keyword" style="margin-bottom: 0px">
      <tbody>
        <!-- COLUMNS -->
        <tr style="height:60px">
          <th ng-repeat="(k,v) in json.columns track by $index"
              ng-if="v.columnDef.id != 'rank' && v.columnDef.id != 'url';"
              ng-click="open('column',json.keyword,v.columnDef.id, k, rowIndex, v.testingStatus.approved, v.testingStatus.issue, v.testingStatus.notes)"
              ng-class="{ success : v.testingStatus.approved, danger : v.testingStatus.issue }"
              ng-style="{width: v.columnDef.width}">
              {{ v.columnDef.label }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Other rows -->
  <div id="table_div">
    <table class="table table-condensed table-bordered table-hover tables_not_keyword" style="margin-top:-1px">
      <tbody>
        <!-- ROWS -->
        <tr style="height:60px"
            ng-repeat="(rowIndex, row) in json.rows track by $index"
            ng-class="{ success : row.testingStatus.approved, danger : row.testingStatus.issue }">
          <td
            ng-repeat="(k,v) in json.columns track by $index"
            ng-if="v.columnDef.id != 'rank' && v.columnDef.id != 'url';"
            ng-click="open('cell',json.keyword,v.columnDef.id, k, rowIndex, row.rowData[v.columnDef.id].testingStatus.approved, row.rowData[v.columnDef.id].testingStatus.issue, row.rowData[v.columnDef.id].testingStatus.notes)"
            ng-class="{success : ((row.rowData[v.columnDef.id].testingStatus.approved || json.columns[k].testingStatus.approved) && !row.rowData[v.columnDef.id].testingStatus.issue), danger : ((row.rowData[v.columnDef.id].testingStatus.issue || json.columns[k].testingStatus.issue) && !row.rowData[v.columnDef.id].testingStatus.approved)} "
            ng-style="{width: v.columnDef.width}">
            {{ row.rowData[v.columnDef.id].value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>